.row
  .large-12.columns
    %h3
      Thank you for visiting C3SV.
    %h4
      Please leave your details so we can get connected.

= form_for @user do |form|
  .row
    .large-6.columns
      = form.label :first_name
      = form.text_field :first_name
    .large-6.columns
      = form.label :last_name
      = form.text_field :last_name
  .row
    .large-6.columns
      = form.label :email
      = form.text_field :email
    .large-6.columns
      = form.label :phone
      = form.text_field :phone

  .row.referral-types
    .large-4.columns
      = form.label :referral_source, 'How did you hear about us?'
      = form.select :referral_source, options_for_select(@referral_sources)
  .row.friends-name
    .large-6.columns
      = form.label :referrer_name, "What's your friend's name?"
      = form.text_field :referrer_name, class: 'typeahead'
  .row.other-text-field.hide
    .large-6.columns
      = form.label :other, 'Describe how you heard about us?'
      = form.text_field :other

  .row
    .large-6.columns
      = form.label :reason_for_visit, 'How can we help?'
      = form.select :reason_for_visit, options_for_select(@reasons_for_visit)

  .row
    .large-6.columns
      = form.check_box :allow_for_social_connect, checked: 'checked'
      = form.label :allow_for_social_connect

  .row
    .large-12.columns
      = form.submit 'Get Connected', class: 'button'

- content_for :foot do
  :javascript
    $(function() {
      // Force default option else previous selection might be cached.
      $('.referral-types select').val('friend').change();

      $('.referral-types select').change(function() {
        var selected = $(this).children(':selected').data('id');

        if (selected != 'friend' ) {
          $('.friends-name').hide();

          if (selected == 'other') {
            $('.other-text-field').show();
          }
        } else {
          $('.other-text-field').hide();
          $('.friends-name').show();
        }
      });
    });

    var removeEmailHint = function() {
      $('.email-hint').remove();
      $('input.email').removeClass('error');
    }

    $('.email').on('blur', function() {
      $(this).mailcheck({
        suggested: function(element, suggestion) {
          var suggestion = "Wait, did you mean <a href='#'>" +
            suggestion.address + '@' + suggestion.domain + '</a>?';

          $('input.email').addClass('error');
          $('.email-hint').remove();
          $('input.email').after("<small class='email-hint error'></small>");
          $('.email-hint').html(suggestion).fadeIn(150);

          $('.email-hint').on('click', 'a', function() {
            $('input[type=email]').val($(this).text());
            removeEmailHint();
            return false;
          });
        },
        empty: function(element) {
          removeEmailHint();
        }
      });
    });

    var substringMatcher = function(strs) {
      return function findMatches(q, cb) {
        var matches, substringRegex;
        matches = [];
        substrRegex = new RegExp(q, 'i');

        $.each(strs, function(i, str) {
          if (substrRegex.test(str)) {
            matches.push({ value: str });
          }
        });

        cb(matches);
      };
    };

    var names = [
      'Jason Ong',
      'Brett Cooley',
      'Vance Roush',
      'Kim Roush',
      'Adam Smallcrombe',
      'Keira Smallcrombe',
      'Jon Ochoa',
      'Angeline Tan',
      'Andrew Thomas',
      'Amber Thomas'
    ]

    // instantiate the typeahead UI
    $('.friends-name .typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'names',
      displayKey: 'value',
      source: substringMatcher(names)
    });
